[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
ExecStart=/usr/local/bin/node_exporter-{{ node_version }}.linux-amd64/node_exporter

[Install]
WantedBy=default.target